@page
@model PrimerParcial.Pages.InstructoresVueloPP.ListadoModel
@using System.Threading.Tasks;
@{

}
@functions{
    void MostrarMateria(int materiaid){
        switch(materiaid){
            case 1:
                <span>Herramientas</span>
                break;
            case 2:
                <span>POO</span>
                break;
            case 3:
                <span>WEB</span>
                break;
        }
    }
    void MostrarEnActividad(bool actividad){
        if(actividad){
            <span>ACTIVO</span>
        }
        else{
            <span>NO ACTIVO</span>
        }
    }
    void MostrarHangar(int hangarasignado){
        switch(hangarasignado){
            case 1:
                <span>H1N</span>
                 break;
            case 2:
                <span>H2S</span> 
                break;
            case 3:
                <span>H3E</span>
                break; 
            case 4:
                <span>H4O</span>
                break; 
            case 5:
                <span>H5C</span>
                break; 
        }
    }
    void MostrarFechaExpedicion(DateTime fec){
        <span class="date">@fec.ToString("dd MMMM yyyy")</span>
    }
}
<a asp-page="Crear" class="btn btn-success" > Nuevo Instructor </a>

<form method="get" >
    <input type="text" placeholder="Buscar Instructor por Nombre" name="FiltroNombre" />
    <input type="text" placeholder="Buscar Instructor por Apellido " name="FiltroApellido" />
    <input type="submit" class="btn btn-warning" value="Buscar" />
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr></tr>
            <th>Nro</th>
            <th>
                <a asp-page="./Listado" asp-route-CampoOrden="@Model.NombreOrden">
                    Nombre del instructor
                </a>                
            </th>
            <th>
                <a asp-page="./Listado" asp-route-CampoOrden="OrdenPorApellido">
                    Apellido-Ins ac
                </a>
                <a asp-page="./Listado" asp-route-CampoOrden="OrdenPorApellidoDesc">
                    Apellido-Ins dc
                </a>
                <th>En actividad</th>
                <th>Hangar asignado</th>
            </tr> 
            <th></th>
        </th>
    </thead>
    <tbody>
        @if (Model.NominaInstructores.Count == 0)
        {
            <tr class="badge bg-warning">
                <td colspan="4"> No se encontraron instructores que coincidan con la busqueda</td>
            </tr>
        }
        @foreach (var instructor in Model.NominaInstructores)
        {
            <tr>
                <td>@instructor.Id</td>
                <td>@instructor.Nombre</td>
                <td>@instructor.Apellido</td>
                <td>
                    @{ MostrarEnActividad(@instructor.EnActividad);}
                </td>
                <td>
                    @{ MostrarHangar(@instructor.Hangar);}
                </td>

                
                <td>
                    <a asp-page="Editar" asp-route-id="@instructor.Id" class="btn btn-primary">Modificar</a>
                    <a asp-page="./Listado" asp-route-idBorrar="@instructor.Id" asp-page-handler="Borrar" class="btn btn-danger" onclick="return confirm('¿Quiere eliminar?')" >Eliminar</a>
                    <a asp-page="Detalle" asp-route-id="@instructor.Id" class="btn btn-success">Detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>